<h2>Create New Landmark</h2>

<form action='/landmarks' method='POST'>
  <h4><label>Name:</label></h4>
  <input id='landmark_name' type='text' name='landmark[name]'><br>
  <br></br>
  <label> Year:</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  <br></br>
  <input type='submit' value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
