<h1><%= @figure.name %></h1>
<% @figure.landmarks.each do |landmark| %>
<h2>Landmarks: <%= landmark.name %></h2>
<% end %>
<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>